/* Reset global */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: var(--color-bg);
}

/* Variables de colores y tipografía */
:root {
  --color-bg: #dfe0e4;
  --color-primary: #00264d;   /* azul oscuro */
  --color-secondary: #004080; /* azul intermedio */
  --color-accent: #28a745;    /* verde */
  --color-accent-hover: #218838;
  --color-text: #212529;
  --color-footer: #0056b3;
  --color-link: #8d1717;
  --color-link-hover: #ffdd00;
}
